absl-py==2.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.11.2
aiosignal==1.3.1
attrs==24.2.0
beautifulsoup4==4.13.3
blinker==1.9.0
captum==0.7.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
filelock==3.16.1
Flask==3.1.0
Flask-Cors==5.0.0
fonttools==4.55.0
frozendict==2.4.6
frozenlist==1.5.0
fsspec==2024.10.0
grpcio==1.68.0
holidays==0.60
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
kaleido==0.2.1
kiwisolver==1.4.7
lightning-utilities==0.11.8
Markdown==3.7
MarkupSafe==3.0.2
matplotlib==3.9.2
mpmath==1.3.0
multidict==6.1.0
multitasking==0.0.11
networkx==3.4.2
neuralprophet==0.9.0
numpy==1.26.4
packaging==24.2
pandas==2.2.3
peewee==3.17.9
pillow==11.0.0
platformdirs==4.3.6
plotly==5.24.1
propcache==0.2.0
protobuf==5.28.3
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytorch-lightning==2.4.0
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
six==1.16.0
soupsieve==2.6
sympy==1.13.1
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
torch==2.5.1
torchmetrics==1.6.0
tqdm==4.67.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
Werkzeug==3.1.3
yarl==1.17.1
yfinance==0.2.54
